body {
  margin: 0;
  color: #fff;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
}

* {
  margin: 0;
  padding: 0;
}

.nav-container {
  position: absolute;
  width: 375px;
  height: 92px;
  left: 0;
  top: 0;
}

.wrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 44px;
  bottom: 0;
  padding: 8px;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  position: absolute;
  width: 100px;
  height: 40px;
  left: 12px;
  top: calc(50% - 40px / 2);
}

.logo img {
  position: static;
  width: 76px;
  height: 20px;
  left: 12px;
  top: 10px;
}

.toggle-div {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px;
  position: absolute;
  width: 40px;
  height: 40px;
  right: 24px;
  top: 5%;
  border-radius: 8px;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 114px 24px;
  position: absolute;
  width: 375px;
  height: 604px;
  left: calc(50% - 375px / 2);
  top: 92px;
}

.rectangle-4 {
  position: absolute;
  width: 95.58px;
  height: 22.02px;
  left: 330px;
  top: 70.79px;
  background: #ebebff;
  transform: rotate(-30deg);
}

.eclipse-3 {
  position: absolute;
  width: 105px;
  height: 105px;
  left: 323px;
  top: 113.24px;
}

.eclipse-15 {
  position: absolute;
  width: 15px;
  height: 15px;
  left: 53px;
  top: 645px;
  background: #fff;
  border: 1px solid #cbcdff;
  box-sizing: border-box;
}

.eclipse-14 {
  position: absolute;
  width: 11px;
  height: 11px;
  left: 290px;
  top: 230px;
  border: 1px solid #cbcdff;
  box-sizing: border-box;
}

.eclipse-8 {
  position: absolute;
  width: 15px;
  height: 15px;
  left: 160px;
  top: 20px;
}

.eclipse-11 {
  position: absolute;
  width: 38.5px;
  height: 19.25px;
  left: -25px;
  top: 50.47px;
  background: #6070ff;
  transform: rotate(-156.88deg);
}

.rectangle-6 {
  position: absolute;
  width: 51.99px;
  height: 9.3px;
  left: -40px;
  top: 20.49px;
  background: #ebebff;
  transform: rotate(-46.14deg);
}

.rectangle-5 {
  position: absolute;
  width: 68.06px;
  height: 12.18px;
  left: 151.82px;
  top: 653px;
  background: #ebebff;
  transform: rotate(23.34deg);
}

.rectangle-7 {
  position: absolute;
  width: 26.46px;
  height: 4.73px;
  left: 127.18px;
  top: 70.59px;
  background: #6070ff;
  transform: matrix(0.76, 0.65, 0.65, -0.76, 0, 0);
}

.eclipse-5 {
  position: absolute;
  width: 11px;
  height: 10px;
  left: 140.18px;
  top: 70.81px;
  background: #cbcdff;
  transform: rotate(52.97deg);
}

.eclipse-12 {
  position: absolute;
  width: 24.14px;
  height: 12.07px;
  left: 311.76px;
  top: 146.69px;
  background: #6070ff;
  transform: rotate(-176.08deg);
}

.eclipse-13 {
  position: absolute;
  width: 30.1px;
  height: 30.1px;
  left: 332.18px;
  top: 540.44px;
  background: #ebebff;
  transform: rotate(69.41deg);
}

.eclipse-4 {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 169px;
  top: 637.1px;
  background: #6070ff;
}

.text h1 {
  position: static;
  width: 327px;
  height: 150px;
  left: 24px;
  top: 114px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 12px 0;
}

.text p {
  position: static;
  width: 327px;
  height: 146px;
  left: 24px;
  top: 276px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 12px 0;
}

.let-chat h6 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  color: #7f8cff;
  position: static;
  width: 117px;
  height: 24px;
  left: 0;
  top: 0;
}

.let-chat p {
  position: static;
  width: 170.17px;
  height: 20px;
  left: 24px;
  top: 470px;
  flex: none;
  order: 3;
  flex-grow: 0;
  margin: 12px 0;
}
