/*General Styles*/

* {
  margin: 0;
  padding: 0;
}

html {
    font-family: "Poppins";
    font-style: normal;
    
}

nav ul {
    list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
    opacity: 1;
}

/*Header Styles*/


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 100px 0;
}

header h2 {
    font-family: "Poppins";
    position: static;
    width: 76px;
    height: 20px;
    left: 12px;
    top: 10px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    color: #6070FF;
}

header nav ul {
    display: flex;
    margin-right: -15px;
    

}

header nav ul li {
    color: #344563;   

}

header nav li {
    margin: 0 15px;
} 

section .rectangle-6 {
    position: absolute;
    width: 108.67px;
    height: 19.44px;
    left: 34.6px;
    top: 218.92px;
}

section .eclipse-11{
    position: absolute;
    width: 80.48px;
    height: 40.24px;
    left: 139.2px;
    top: 260.68px;
    background: #6070FF;
    transform: rotate(-156.88deg);
}