* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.homepage {
  position: relative;
  width: 414px;
  height: 5410px;
  background: #f7f7f9;
}

header {
  position: absolute;
  width: 414px;
  height: 718px;
  left: 0;
  top: 0;
  background: #fff;
  border-bottom-left-radius: 70px;
}

nav {
  position: absolute;
  width: 414px;
  height: 72px;
  left: 0;
  top: 0;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  position: absolute;
  width: 100px;
  height: 40px;
  left: 12px;
  top: calc(50% - 40px / 2);
}

.logo img {
  position: static;
  width: 40px;
  height: 20px;
  left: 7px;
  top: 10px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6070ff;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0 0;
}

.nav-items {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px;
  position: absolute;
  width: 40px;
  height: 40px;
  right: 24px;
  top: calc(50% - 40px / 2);
  border-radius: 8px;
}

.header-container {
  position: absolute;
  width: 412px;
  height: 587.15px;
  left: 0;
  top: 10px;
}

.rectangle-7 {
  position: absolute;
  width: 26.46px;
  height: 4.73px;
  left: 127.18px;
  top: 151.59px;
  background: #6070ff;
  transform: matrix(0.76, 0.65, 0.65, -0.76, 0, 0);
}

.ellipse-5 {
  position: absolute;
  width: 11px;
  height: 10px;
  left: 132.98px;
  border-radius: 50%;
  top: 155.81px;
  background: #cbcdff;
  transform: rotate(52.97deg);
}

.rectangle-5 {
  position: absolute;
  width: 68.06px;
  height: 12.18px;
  left: 191.82px;
  top: 550px;
  background: #ebebff;
  transform: rotate(23.34deg);
}

.ellipse-4 {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 237px;
  top: 550.1px;
  border-radius: 50%;
  background: #6070ff;
}

.ellipse-13 {
  position: absolute;
  width: 30.1px;
  height: 30.1px;
  left: 332.18px;
  top: 490.44px;
  background: #ebebff;
  transform: rotate(69.41deg);
}

.ellipse-12 {
  position: absolute;
  width: 24.14px;
  height: 12.07px;
  left: 341.76px;
  top: 490.69px;
  background: #6070ff;
  transform: rotate(-176.08deg);
}

.rectangle-6 {
  position: absolute;
  width: 51.99px;
  height: 9.3px;
  left: -34px;
  top: 141.49px;
  background: #ebebff;
  transform: rotate(-46.14deg);
}

.ellipse-11 {
  position: absolute;
  width: 38.5px;
  height: 23.25px;
  left: -4.04px;
  top: 161.47px;
  background: #6070ff;
  transform: rotate(-156.88deg);
}

.ellipse-8 {
  position: absolute;
  width: 15px;
  height: 15px;
  left: 214px;
  top: 110px;
  border-radius: 50%;
  background: #fff;
  border: 1px solid #cbcdff;
  box-sizing: border-box;
}

.ellipse-14 {
  position: absolute;
  width: 11px;
  height: 11px;
  left: 298px;
  top: 315px;
  border-radius: 50%;
  background: #fff;
  border: 1px solid #cbcdff;
  box-sizing: border-box;
}

.ellipse-15 {
  position: absolute;
  width: 15px;
  height: 15px;
  left: 53px;
  top: 500px;
  border-radius: 50%;
  background: #fff;
  border: 1px solid #cbcdff;
  box-sizing: border-box;
}

.ellipse-3 {
  position: absolute;
  left: 390px;
  top: 270.24px;
  background: #6070ff;
}

.rectangle-4 {
  position: absolute;
  width: 95.58px;
  height: 22.02px;
  left: 317px;
  top: 165.79px;
  background: #ebebff;
  transform: rotate(-30deg);
}

.header-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 114px 24px;
  position: absolute;
  width: 345px;
  height: 250px;
  left: calc(50% - 375px / 2);
  top: 92px;
}

.header-container h1 {
  position: static;
  width: 327px;
  height: 150px;
  left: 24px;
  top: 114px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 12px 0;
}

.header-container p {
  position: static;
  width: 327px;
  height: 146px;
  left: 24px;
  top: 276px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 12px 0;
}

.social {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  position: static;
  width: 117px;
  height: 24px;
  left: 24px;
  top: 434px;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 12px 0;
}

.social-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  position: static;
  width: 117px;
  height: 24px;
  left: 0;
  top: 0;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 16px 0;
}

.social .social-text h2 {
  position: static;
  width: 117px;
  height: 24px;
  left: 0;
  top: 0;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0 8px;
}

.social-icon {
  position: static;
  width: 170.17px;
  height: 20px;
  left: 24px;
  top: 470px;
  flex: none;
  order: 3;
  flex-grow: 0;
  margin: 12px 0;
}

.social-icon .finger-icon {
  position: absolute;
  left: 48%;
  right: 48.22%;
  top: 110.81%;
  bottom: 18.87%;
}

.social-icon .m-icon {
  position: absolute;
  left: 27.47%;
  right: 67.2%;
  top: 110.81%;
  bottom: 19.21%;
}

.social-icon .linkedin-icon {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 63px;
  top: 110.81%;
}

.social-icon .github-icon {
  position: absolute;
  left: 38.13%;
  right: 57.07%;
  top: 110.81%;
  bottom: 18.87%;
}

.social-icon .twitter-icon {
  position: absolute;
  left: 6.4%;
  right: 88.27%;
  top: 110.81%;
  bottom: 18.88%;
}

.work {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 114px 24px;
  position: absolute;
  width: 364px;
  height: 2788px;
  left: 0;
  top: 718px;
}

.work .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  position: static;
  width: 327px;
  height: 620px;
  left: calc(50% - 327px / 2);
  top: 114px;
  background: #fff;
  border: 1px solid #dfe1e6;
  box-sizing: border-box;
  border-radius: 16px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 88px 0;
}

.work .card img {
  position: static;
  width: 295px;
  height: 220px;
  left: 16px;
  top: 16px;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 12px 0;
}

.work .card .work-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  position: static;
  width: 295px;
  height: 294px;
  left: 16px;
  top: 248px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 12px 0;
}

.about-me .about-content-top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  position: static;
  width: 327px;
  height: 409px;
  left: 24px;
  top: 114px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 24px 0;
}

.work .card .work-content .work-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  position: static;
  width: 295px;
  height: 80px;
  left: 0;
  top: calc(50% - 80px / 2 - 104px);
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 12px 0;
}

.about-content-top h3 {
  position: static;
  width: 327px;
  height: 101px;
  left: 0;
  top: 0;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 12px 0;
}

.about-content .skills .frame-8 h3 {
  position: absolute;
  height: 24px;
  left: 48px;
  right: 48px;
  top: 1000px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000;
}

.about-content .skills .frame-9 h3 {
  position: absolute;
  height: 24px;
  left: 48px;
  right: 48px;
  top: 1100px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000;
}

.work .card .work-content .work-title h3 {
  position: static;
  width: 295px;
  height: 36px;
  left: 0;
  top: 0;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 12px 0;
}

.skills .frame-12 .language-list ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
  position: static;
  width: 327px;
  height: 248.15px;
  left: 0;
  top: 72px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0 0;
}

.work .card .work-content .work-title .frame-1 ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  position: static;
  width: 236px;
  height: 32px;
  left: 0;
  top: 48px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 12px 0;
}

.about-content .skills .frame-8 img {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px;
  position: absolute;
  width: 40px;
  height: 40px;
  right: 26px;
  top: 990px;
  border-radius: 8px;
}


.about-content .skills .frame-9 img {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px;
  position: absolute;
  width: 40px;
  height: 40px;
  right: 26px;
  top: 1090px;
  border-radius: 8px;
}

.skills .frame-12 .language-list .frame-10 img {
  position: absolute;
  width: 48px;
  height: 48px;
  left: 48px;
  top: 790px;
  border: 1px solid #fff;
}

.about-content .skills .frame-12 .language-list .frame-11 img {
  position: absolute;
  width: 48px;
  height: 48px;
  left: 48px;
  top: 880px;
  border: 1px solid #fff;
}

.about-content .skills .frame-12 .language-list .frame-11 h3 {
  position: absolute;
  height: 24px;
  margin-left: 30px;
  right: 48px;
  top: 900px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #253858;
}

.work .card .work-content .work-title .frame-1 .client {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 0;
  position: static;
  width: 55px;
  height: 32px;
  left: 0;
  top: 0;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0 12px;
}

.skills .frame-12 .language-list .frame-9 h3 {
  position: absolute;
  height: 24px;
  margin-left: 36px;
  right: 48px;
  top: 710px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #253858;
}

.skills .frame-12 .language-list .frame-10 h3 {
  position: absolute;
  height: 24px;
  margin-left: 30px;
  right: 48px;
  top: 800px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #253858;
}

.work .card .work-content .work-title .frame-1 .client h3 {
  position: static;
  width: 55px;
  height: 16px;
  left: 0;
  top: 8px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0 0;
}

.work .card .work-content .work-title .frame-1 .counter {
  position: static;
  width: 8px;
  height: 8px;
  left: 67px;
  top: 12px;
  background: #c1c7d0;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0 12px;
}

.work .card .work-content .work-title .frame-1 .role {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 0;
  position: static;
  width: 88px;
  height: 32px;
  left: 87px;
  top: 0;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 0 12px;
}

.more-detail button h4 {
  position: static;
  width: 100px;
  height: 24px;
  left: 12px;
  top: 12px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0 10px;
}

.work .card .work-content .work-title .frame-1 .role h4 {
  position: static;
  width: 88px;
  height: 16px;
  left: 0;
  top: 8px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 16px;
  color: #7a869a;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0 0;
}

.work .card .work-content .work-title .frame-1 .counter1 {
  position: static;
  width: 8px;
  height: 8px;
  left: 187px;
  top: 12px;
  background: #c1c7d0;
}

.work .card .work-content .work-title .frame-1 .year {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 0;
  position: static;
  width: 29px;
  height: 32px;
  left: 190px;
  top: 0;
  flex: none;
  order: 4;
  flex-grow: 0;
  margin: 0 12px;
}

.work .card .work-content .work-title .frame-1 .year h4 {
  position: static;
  width: 29px;
  height: 16px;
  left: 0;
  top: 8px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0 10px;
}

.about-content-top p {
  position: static;
  width: 327px;
  height: 144px;
  left: 0;
  top: 113px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 12px 0;
}

.work .card .work-content .work-title p {
  position: static;
  width: 295px;
  height: 76px;
  left: 0;
  top: 92px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  flex: none;
  flex-grow: 0;
  margin: 12px 0;
}

.work .card .work-content .work-title .tags ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  position: static;
  width: 203px;
  height: 24px;
  left: 0;
  top: 100px;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 12px 0;
}

.work .card .work-content .work-title .tags .tag-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  position: static;
  width: 53px;
  height: 24px;
  left: 0;
  top: 0;
  background: #ebebff;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0 8px;
}

.work .card .work-content .work-title .tags .tag-1 h4 {
  position: static;
  width: 29px;
  height: 16px;
  left: 12px;
  top: 4px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0 0;
}

.work .card .work-content .work-title .tags .tag-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  position: static;
  width: 45px;
  height: 24px;
  left: 61px;
  top: 0;
  background: #ebebff;
  border-radius: 8px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0 8px;
}

.work .card .work-content .work-title .tags .tag-2 h4 {
  position: static;
  width: 21px;
  height: 16px;
  left: 12px;
  top: 4px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0 0;
}

.work .card .work-content .work-title .tags .tag-3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  position: static;
  width: 89px;
  height: 24px;
  left: 114px;
  top: 0;
  background: #ebebff;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 0 8px;
}

.work .card .work-content .work-title .tags .tag-3 h4 {
  position: static;
  width: 65px;
  height: 16px;
  left: 12px;
  top: 4px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0 0;
}

.work-content .more-detail {
  position: static;
  width: 295px;
  height: 72px;
  left: 0;
  top: 216px;
  flex: none;
  order: 3;
  flex-grow: 0;
  margin: 12px 0;
}

.work-content .more-detail button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 9px;
  position: absolute;
  width: 124px;
  height: 48px;
  left: 55px;
  border: 1px solid #6070ff;
  box-sizing: border-box;
  border-radius: 8px;
  color: #396df2;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  background: #fff;
}

.work-content .more-detail button:active {
  background: #fff;
  border: 1px solid #7f8cff;
  box-sizing: border-box;
  border-radius: 8px;
}

.work-content .more-detail button:hover {
  background: #6070ff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  border-radius: 8px;
}

.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 114px 24px;
  position: absolute;
  width: 366px;
  height: 1125.15px;
  left: 0;
  top: 4120px;
  background: #fff;
  border-top-right-radius: 70px;
}

.about-me .about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 327px;
  left: calc(50% - 375px / 2);
}

.about-me .about-content-top .social-about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  position: static;
  width: 200px;
  height: 80px;
  left: 0;
  top: 269px;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 12px 0;
}

.about-me .about-content-top .social-about .social-text-about {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  position: static;
  width: 117px;
  height: 24px;
  left: 0;
  top: 0;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 16px 0;
}

.about-me .about-content-top .social-about .social-text-about h2 {
  position: static;
  width: 117px;
  height: 24px;
  left: 0;
  top: 0;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.about-me
  .about-content-top
  .social-about
  .social-text-about
  .social-icon-about {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  position: static;
  width: 200px;
  height: 40px;
  left: 0;
  top: 40px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 16px 0;
}

.social-icon-about .finger-icon-about {
  position: absolute;
  left: 48%;
  top: 500px;
  bottom: 18.87%;
}

.social-icon-about .m-icon-about {
  position: absolute;
  left: 27.47%;
  top: 500px;
  bottom: 19.21%;
}

.social-icon-about .linkedin-icon-about {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 500px;
  left: 30.7%;
}

.social-icon-about .github-icon-about {
  position: absolute;
  left: 39.13%;
  top: 500px;
  bottom: 18.87%;
}

.social-icon-about .twitter-icon-about {
  position: absolute;
  left: 20%;
  top: 500px;
  bottom: 18.88%;
}

.about-me .about-content-top .resume {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  position: static;
  width: 162px;
  height: 48px;
  left: 0;
  top: calc(50% - 48px / 2 + 180.5px);
  border: 1px solid #6070ff;
  box-sizing: border-box;
  border-radius: 8px;
  flex: none;
  order: 3;
  flex-grow: 0;
  margin: 12px 0;
}

.about-me .about-content-top .resume:active {
  background: #fff;
  border: 1px solid #7f8cff;
  box-sizing: border-box;
  border-radius: 8px;
}

.about-me .about-content-top .resume:hover {
  background: #6070ff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  border-radius: 8px;
}

.about-me .about-content-top .resume a {
  position: static;
  width: 138px;
  height: 24px;
  left: 12px;
  top: 12px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0 10px;
}

.about-content .skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  position: static;
  width: 327px;
  height: 464.15px;
  left: 24px;
  top: 547px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 24px 0;
}

.about-content .skills .frame-12 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  position: static;
  width: 327px;
  height: 320.15px;
  left: 0;
  top: 0;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0 0;
}

.about-content .skills .frame-12 .frame-7 {
  position: static;
  width: 327px;
  height: 72px;
  left: 0;
  top: 0;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0 0;
}

.about-content .skills .frame-8 {
  position: static;
  width: 327px;
  height: 72px;
  left: 0;
  top: 320.15px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0 0;
}

.about-content .skills .frame-9 {
  position: static;
  width: 327px;
  height: 72px;
  left: 0;
  top: 392.15px;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 0 0;
}

.frame-12 .frame-7 h3 {
  position: absolute;
  height: 24px;
  left: 38px;
  right: 67px;
  top: calc(50% - 24px / 2);
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000;
}

.about-content .skills .frame-12 .frame-7 .language-dropdown {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px;
  position: absolute;
  width: 40px;
  height: 40px;
  right: 26px;
  top: calc(50% - 40px / 2);
  border-radius: 8px;
}

.about-content .skills .frame-12 .frame-7 .language-dropdown .dropdown-icon {
  position: static;
  left: 20%;
  right: 20%;
  top: 20%;
  bottom: 20%;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0 0;
}

.about-content
  .skills
  .frame-12
  .frame-7
  .language-dropdown
  .dropdown-icon
  img {
  position: absolute;
  width: 14px;
  height: 8px;
  left: 5px;
  top: 8px;
}

.skills .frame-12 .language-list .frame-9 {
  position: static;
  width: 303px;
  height: 66.72px;
  left: 12px;
  top: 12px;
  background: #f7f7f9;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 12px 0;
}

.skills .frame-12 .language-list .frame-9 img {
  position: absolute;
  width: 48px;
  height: 48px;
  left: 48px;
  top: 700px;
  border: 1px solid #fff;
}

.skills .frame-12 .language-list .frame-10 {
  position: static;
  width: 303px;
  height: 66.72px;
  left: 12px;
  top: 90.72px;
  background: #f7f7f9;
  border-radius: 8px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 12px 0;
}

.skills .frame-12 .language-list .frame-11 {
  position: static;
  width: 303px;
  height: 66.72px;
  left: 12px;
  top: 169.43px;
  background: #f7f7f9;
  border-radius: 8px;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 12px 0;
}
